$studies-bgcolor: white;
$studies-textcolor: black;
#studies {
    background-color: $studies-bgcolor;
    color: $studies-textcolor;
    h2::after {
        background-color: $studies-textcolor;
    }
    h3::after {
        background-color: $studies-textcolor;
    }
}